<h1>List of staffs</h1>
<% if @staffs.any? %>
  <% @staffs.each do |staff| %>
    <% if @is_admin %>
      <%= link_to staff.name, store_staff_path(@store,staff) %>
    <% else %>
      <%= staff.name %>
    <% end %>
    <br>
  <% end %>
<% else %>
  <h3>No staff available</h3>
<% end %>

<% if @is_admin %>
  <%= link_to 'Add staff', new_store_staff_path(@store) %>
<% end %>
