<h3>Sechdule for <%= cal_date %></h3>
<table>
  <tr>
  <th>time</th>
  <% @staffs.each do |staff| %>
    <th><%= staff.name %></th>
    <% end %>
  </tr>
  <% 24.times do |index| %>
    <tr>
      <td><%= time=('%02d' % index +':00')%></td>
        <% @staffs.each do |staff| %>
        <td><%= link_to staff.available(index).to_s, new_store_appointment_path(@store, staff_id: staff.id, time: time, date: cal_date) %></td>
      <% end %>
    </tr>
  <% end %>
</table>