<h1>Stores List</h1>
<% if @stores.any? %>
  <% @stores.each do |store| %>
    <%= link_to store.name,store %>
    <%= store.location %>
    <br>
  <% end %>
<% else %>
  <h3>no store yet</h3>
<% end %>

