
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
<h1 class="page-header col-md-offset-3">Calendar</h1>

  <div class="container stores">
    <div class="row">
    <% @stores.each do |store| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <%= image_tag("store.jpg", size:"200", class:"img-circle") %>
        <br>
        <br>
        <p><%= store.location %></p>
        <br>
        <p><%= store.description %></p>
        <br>
        <p><%= button_to "Edit this store", store_path(store),method: :get, class:"btn btn-default center-block" %></p>
      </div>
   <% end %>
  </div>
  </div>

